Workflows/n8n workflows/daily-brief-workflow.json
{
  "name": "Daily Brief",
  "nodes": [
    {
      "parameters": {
        "content": "## Daily Brief — 6am push\n\nSETUP (one-time):\n1. Telegram: attach 'Command Centre Bot' + set the real chat id on 'Send Telegram Brief'.\n2. In 'Format For Telegram' → CHECKIN_URL, replace REPLACE_WITH_CHECKIN_TOKEN with the real CHECKIN_TOKEN.\n3. CALENDAR (Wave 3d): create a Google Calendar OAuth2 credential in n8n and attach it to \"Get Today's Calendar\". Until then that node fails soft and the brief sends without a calendar section.\n4. Requires task_triage + decision_outcomes migrations applied in Supabase.\n\nPush-only by design — act on tasks via the check-in page link or claude.ai, not by replying here.",
        "height": 380,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        -40
      ],
      "id": "brief-note-0000-4000-8000",
      "name": "Setup Notes 000"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        320
      ],
      "id": "brief-trig-0001-4001-8001",
      "name": "Every Day 6am NZT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erwxszdcisyuyjmefvbj.supabase.co/rest/v1/rpc/agent_get_tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_status: \"open\", limit_count: 60 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        16
      ],
      "id": "brief-open-0002-4002-8002",
      "name": "Get Open Tasks",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erwxszdcisyuyjmefvbj.supabase.co/rest/v1/rpc/agent_get_tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_status: \"suggested\", limit_count: 15 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        208
      ],
      "id": "brief-sugg-0003-4003-8003",
      "name": "Get Suggested Tasks",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erwxszdcisyuyjmefvbj.supabase.co/rest/v1/rpc/agent_get_recent_memories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ limit_count: 10 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        416
      ],
      "id": "brief-mem-0004-4004-8004",
      "name": "Get Recent Memories",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erwxszdcisyuyjmefvbj.supabase.co/rest/v1/rpc/agent_get_decisions_due_for_review",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ limit_count: 2 }) }}",
        "options": {
          "onError": "continueRegularOutput"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        608
      ],
      "id": "brief-dec-0005-4005-8005",
      "name": "Get Decisions Due",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary",
          "cachedResultName": "primary"
        },
        "returnAll": true,
        "timeMin": "={{ $now.setZone('Pacific/Auckland').startOf('day').toISO() }}",
        "timeMax": "={{ $now.setZone('Pacific/Auckland').endOf('day').toISO() }}",
        "options": {
          "singleEvents": true
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        304,
        800
      ],
      "id": "brief-cal-0010-4010-9010",
      "name": "Get Today's Calendar",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Attach a Google Calendar OAuth2 credential before activating. Fails soft: if it errors, the brief still sends without a calendar section."
    },
    {
      "parameters": {
        "jsCode": "// Assemble a compact payload for Claude — trim fields to keep tokens low.\nconst openRaw = $('Get Open Tasks').all().map(i => i.json).filter(t => t && t.task_id);\nconst suggestedRaw = $('Get Suggested Tasks').all().map(i => i.json).filter(t => t && t.task_id);\nconst memoriesRaw = $('Get Recent Memories').all().map(i => i.json).filter(m => m && m.memory_id);\nconst decisionsRaw = $('Get Decisions Due').all().map(i => i.json).filter(d => d && d.decision_id);\n\n// Calendar is optional — wrapped so a missing/failed node never breaks the brief.\nlet calRaw = [];\ntry {\n  calRaw = $(\"Get Today's Calendar\").all().map(i => i.json).filter(e => e && (e.summary || e.start));\n} catch (err) {\n  calRaw = [];\n}\n\nconst slimTask = t => ({\n  task: t.task_text,\n  urgency: t.urgency,\n  due: t.due_date || null,\n  category: t.category || null,\n  who: t.entity_name || null,\n  age_days: Math.round((Date.now() - new Date(t.created_date)) / 86400000),\n});\n\nconst payload = {\n  date_nz: new Date().toLocaleDateString('en-NZ', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Pacific/Auckland' }),\n  calendar_today: calRaw.slice(0, 12).map(e => ({\n    title: e.summary || '(no title)',\n    start: (e.start && (e.start.dateTime || e.start.date)) || '',\n    attendees: (e.attendees || []).map(a => a.displayName || a.email).filter(Boolean).slice(0, 6),\n    location: e.location || null,\n  })),\n  open_tasks: openRaw.slice(0, 40).map(slimTask),\n  suggested_inbox: suggestedRaw.slice(0, 10).map(slimTask),\n  recent_memories: memoriesRaw.slice(0, 8).map(m => ({\n    date: (m.created_at || '').slice(0, 10),\n    theme: (m.main_theme || m.summary || '').split('\\n')[0].slice(0, 180),\n  })),\n  decisions_due_for_review: decisionsRaw.slice(0, 2).map(d => ({\n    decision: d.decision_text,\n    category: d.category || null,\n    decided_on: (d.decision_date || '').slice(0, 10),\n  })),\n};\n\nconst system = `You are Zane's chief of staff writing his 6am daily brief. Zane runs Moore AI Studios (AI solutions for small businesses in NZ; current clients/projects: Jake at Core Finance, Greenmachine, plus his own content/marketing and the Command Centre system).\n\nYou get JSON: calendar_today (today's meetings, may be empty), open_tasks (already sorted soonest-due, most urgent first), suggested_inbox (auto-extracted tasks he hasn't accepted yet), recent_memories (what happened lately), decisions_due_for_review (past decisions worth checking the outcome of — may be empty).\n\nWrite a Telegram message using ONLY these HTML tags: <b>, <i>. No markdown, no headers, no other tags. Under 3200 characters. Structure:\n1. One short greeting line with the date. No fluff, no 'I hope'.\n2. <b>Today's calendar</b> — ONLY if calendar_today is non-empty: one line per meeting (time — title — who). For any attendee or subject you recognise from open_tasks/recent_memories, add an indented <i>pre-call</i> line with the single most useful piece of context. Omit this whole section if calendar_today is empty.\n3. <b>Top 3 today</b> — the three highest-leverage tasks. One line each: the task, then <i>why now</i> (deadline, client momentum, what it unblocks). Choose by judgement, not just list order.\n4. <b>Also on the board</b> — up to 4 more worth remembering, grouped by client/project, one line each.\n5. <b>Inbox to triage</b> — only if suggested_inbox is non-empty: up to 5, one line each, so he can keep/dismiss on the check-in page.\n6. <b>Watch</b> — only if recent_memories reveal an open loop, risk, or someone he's waiting on: one or two lines.\n7. <b>Decision check-in</b> — only if decisions_due_for_review is non-empty: one line per decision, phrased as a question inviting him to close the loop (e.g. \"On [date] you decided X — how did that play out?\"), not answering for him.\n\nBe specific — use client and task names from the data. Never invent tasks, meetings, or deadlines. Total read time should be under a minute.`;\n\nreturn [{\n  json: {\n    anthropic_body: {\n      model: 'claude-sonnet-5',\n      max_tokens: 1600,\n      thinking: { type: 'disabled' },\n      system,\n      messages: [{ role: 'user', content: JSON.stringify(payload) }],\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        416
      ],
      "id": "brief-build-0006-4006-8006",
      "name": "Build Brief Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        416
      ],
      "id": "brief-claude-0007-4007-8007",
      "name": "Claude — Write Daily Brief",
      "credentials": {
        "anthropicApi": {
          "id": "OBByahzbCLVaSEIc",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Replace REPLACE_WITH_CHECKIN_TOKEN with the real CHECKIN_TOKEN value.\nconst CHECKIN_URL = 'https://cais-mcp-server.onrender.com/checkin?token=REPLACE_WITH_CHECKIN_TOKEN';\n\nconst res = $json;\n// Sonnet 5 runs adaptive thinking by default — take only the text blocks.\nlet text = (res.content || [])\n  .filter(b => b.type === 'text')\n  .map(b => b.text)\n  .join('\\n')\n  .trim();\n\nif (!text) {\n  text = '<b>Daily brief failed to generate</b> — check the daily-brief workflow execution log.';\n}\n\nconst footer = `\\n\\n<a href=\"${CHECKIN_URL}\">Open today's check-in →</a>`;\nconst MAX = 4096 - footer.length - 20;\nif (text.length > MAX) {\n  text = text.slice(0, MAX) + '…';\n}\n\nreturn [{ json: { message: text + footer } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        416
      ],
      "id": "brief-fmt-0008-4008-8008",
      "name": "Format For Telegram"
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        416
      ],
      "id": "brief-tg-0009-4009-8009",
      "name": "Send Telegram Brief",
      "credentials": {
        "telegramApi": {
          "id": "5zfonbhVE1Qi8PH2",
          "name": "Command Centre Bot"
        }
      }
    }
  ],
  "connections": {
    "Every Day 6am NZT": {
      "main": [
        [
          {
            "node": "Get Open Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Open Tasks": {
      "main": [
        [
          {
            "node": "Get Suggested Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Suggested Tasks": {
      "main": [
        [
          {
            "node": "Get Recent Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Memories": {
      "main": [
        [
          {
            "node": "Get Decisions Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Decisions Due": {
      "main": [
        [
          {
            "node": "Get Today's Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Calendar": {
      "main": [
        [
          {
            "node": "Build Brief Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief Payload": {
      "main": [
        [
          {
            "node": "Claude — Write Daily Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Write Daily Brief": {
      "main": [
        [
          {
            "node": "Format For Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format For Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Pacific/Auckland",
    "errorWorkflow": "IAZtNcqjAAqG60M2"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}