Workflows/n8n workflows/ingest-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-conversation",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        2080
      ],
      "id": "bd2c14ae-1ef7-4344-ad8f-71250eef1946",
      "name": "Webhook",
      "webhookId": "2e7ea4b0-b0ad-463b-9401-61210b64265b"
    },
    {
      "parameters": {
        "tableId": "memories",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.body.source || 'conversation_export' }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.body.title }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.body.transcript }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.body.created_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "extracting"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        2080
      ],
      "id": "b64a2fdd-178f-4a8d-83a8-26c04eb8c1d0",
      "name": "Store Base Memory",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "RULE ONE, before anything else: never extract 'Zane' as an entity. He is the narrator of every conversation, not a subject in it.\n\nExtract ONLY the most significant named entities from this conversation — proper nouns, not phrases or themes.\n\nPEOPLE (proper nouns only):\n- Clients: Rachel Burnard, Aaron, William, etc.\n- Partners/Family: Tim, Nadia, Tate, Lake, Oakley\n- Industry contacts (named individuals)\n\nCOMPANIES (proper nouns only):\n- Client businesses with names: Greenmachine\n- NOT generic terms like 'scaffolding companies'\n\nPROJECTS (named projects only):\n- Rach-bot, Mandy, Command Centre\n- Specific named implementations\n\nTOOLS (actual software/platforms):\n- n8n, Supabase, OpenAI, Twilio, Whisper\n\nCANONICAL-NAME RULES (critical — this feeds an entity-resolution system that merges mentions of the same thing across conversations):\n- Use the fullest clean name mentioned in THIS conversation, once. If both \"Jake\" and \"Jake Shirley\" appear, extract \"Jake Shirley\", not both.\n- No possessives (\"Jake's intake assistant\") — extract \"Jake\" and/or \"the intake assistant\" project separately if each is independently significant, never the possessive phrase itself.\n- No compound/slash phrases (\"JAKE / CORE FINANCE - PHASE 1\" is not a name) — extract \"Jake\" and/or \"Core Finance\" separately if each is independently significant.\n- One entity per distinct person/company/project/tool — never the same thing twice under different wording within this conversation.\n\nDO NOT extract:\n- 'Zane' (see rule one)\n- Generic terms (business model, ROI, UX)\n- Themes, concepts, or abstract ideas — those belong in strategic insights or reflections, not here\n- Anything that isn't a specific proper noun\n\nHARD LIMIT: at most 8 entities. Most conversations should produce 3-6. Quality over coverage — only extract what's genuinely significant.\n\nReturn JSON:\n{\n  \"entities\": [\n    {\n      \"entity_type\": \"person|company|project|tool\",\n      \"entity_name\": \"exact name\",\n      \"context\": \"one sentence: how mentioned and why it matters\"\n    }\n  ]\n}"
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        1504
      ],
      "id": "a4d2face-b0e7-4a31-8a31-dfb99df6a04a",
      "name": "Extract Entities",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const memoryId = $('Merge All Extractions').item.json.memory_id;\nconst theme = $('Merge All Extractions').item.json.theme || {};\n\n// Skip if no theme data\nif (!theme.main_theme) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn [{\n  json: {\n    memory_id: memoryId,\n    main_theme: theme.main_theme,\n    sub_themes: JSON.stringify(theme.sub_themes || []),\n    conversation_type: theme.conversation_type,\n    business_relevance: theme.business_relevance,\n    contains_decisions: theme.contains_decisions || false,\n    contains_customer_insights: theme.contains_customer_insights || false,\n    contains_personal_breakthrough: theme.contains_personal_breakthrough || false,\n    contains_action_items: theme.contains_action_items || false,\n    key_takeaways: JSON.stringify(theme.key_takeaways || [])\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2912
      ],
      "id": "cfb177d7-89e3-48b1-a05d-24f446424c83",
      "name": "Prepare Theme Data"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        2000
      ],
      "id": "1efca879-8ae9-43bb-aeb8-5ca3fcfc2816",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are extracting ZANE'S ACTUAL BUSINESS DECISIONS from his ChatGPT conversation.\n\nA decision is something ZANE:\n- Decided to do: \"I'm going to focus on trades businesses in Whangarei\"\n- Decided NOT to do: \"I'm not going to build voice AI receptionists\"\n- Changed direction on: \"I'm pivoting away from real estate to trades\"\n- Set a specific strategy: \"I'll charge $500/month for Rach-bot\"\n- Chose an approach: \"I'll use human-in-the-loop instead of full automation\"\n\nDO NOT extract:\n- General observations about markets\n- Philosophical discussions about business\n- Abstract principles (unless Zane explicitly adopted them)\n- Things Zane is \"considering\" without commitment\n\nONLY extract decisions where Zane EXPLICITLY:\n- Said \"I'm going to...\"\n- Said \"I decided...\"\n- Said \"I won't do X\"\n- Made a concrete choice\n\nHARD LIMIT: at most 3 decisions per conversation. Most conversations should produce 0-1 — an empty array is a good answer.\n\nFor each decision, set suggested_review_days — how long before it's worth checking whether it actually worked out: 7 for certain/high-stakes strategy or pivot calls, 14 for most others, 30 for tentative/exploring calls that will take longer to play out.\n\nReturn JSON:\n{\n  \"decisions\": [\n    {\n      \"decision\": \"Exact statement of what Zane decided (use his words)\",\n      \"category\": \"pricing|market|product|strategy|pivot|values\",\n      \"reasoning\": \"Why Zane made this choice (from conversation)\",\n      \"alternatives_considered\": [\"what else he thought about\"],\n      \"confidence_level\": \"certain|tentative|exploring|struggling\",\n      \"emotional_context\": \"how he felt (from his words: excited, uncertain, frustrated, etc.)\",\n      \"suggested_review_days\": 14\n    }\n  ]\n}\n\nBE STRICT. If Zane didn't explicitly decide something, return empty array."
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        1696
      ],
      "id": "0c90665b-4179-4405-9d17-fda2e6fe9e88",
      "name": "Extract Business Decisions",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Extract SPECIFIC CUSTOMER INSIGHTS from this conversation.\n\nONLY extract insights about NAMED PEOPLE or SPECIFIC INTERACTIONS.\n\nLook for:\n- Specific customers mentioned by name (Aaron, William, Rachel, Justin, Jay, etc.)\n- Actual pain points THEY described to Zane\n- Objections THEY raised\n- What THEY said they wanted\n- Quotes from discovery calls or client conversations\n\nDO NOT extract:\n- General market observations\n- Philosophical discussions about customer types\n- Zane's speculation about what customers might want\n- Abstract pain points not tied to real people\n\nReturn JSON:\n{\n  \"insights\": [\n    {\n      \"customer_name\": \"REQUIRED - actual name from conversation\",\n      \"customer_type\": \"real_estate|trades|nursery|general_smb\",\n      \"pain_point\": \"Specific problem THIS PERSON described\",\n      \"desire\": \"What THIS PERSON said they wanted\",\n      \"objection\": \"Concerns THIS PERSON raised\",\n      \"automation_opportunity\": \"Specific automation identified for THIS PERSON\",\n      \"quote\": \"Exact words from the customer if available\"\n    }\n  ]\n}\n\nIf no SPECIFIC, NAMED customers are discussed, return empty array."
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        1888
      ],
      "id": "698a603d-962d-4dcd-8988-0119b226dc73",
      "name": "Extract Customer Insights",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Extract ZANE'S PERSONAL REFLECTIONS about himself and his business journey.\n\nPersonal reflections are moments where Zane:\n- Realizes something about himself: \"I'm not shallow, and that changes the game\"\n- Identifies an internal tension: \"I'm caught between integrity and survival anxiety\"\n- Has self-doubt: \"Maybe wanting depth is my downfall\"\n- Reframes his thinking: \"My dislike of voice AI is discernment, not resistance\"\n- Questions his approach: \"Am I avoiding something out of fear or values?\"\n- Recognizes patterns: \"I light up when building Mandy but dread selling voice bots\"\n\nDO NOT extract:\n- Business facts\n- Market observations\n- Things about customers\n- Strategic insights (those go in strategic_insights)\n\nONLY extract moments of SELF-AWARENESS about Zane's:\n- Identity as a builder\n- Values and what matters to him\n- Internal struggles and tensions\n- Self-doubt or breakthroughs\n- Emotional patterns\n\nHARD LIMIT: at most 2 reflections per conversation, the most genuine/significant ones. Most conversations should produce 0-1 — an empty array is a good answer.\n\nReturn JSON:\n{\n  \"reflections\": [\n    {\n      \"reflection_type\": \"self_doubt|insight|values_clarification|breakthrough|struggle\",\n      \"reflection\": \"Zane's actual realization (in his voice if possible)\",\n      \"topic\": \"depth_vs_speed|integrity|fear|motivation|identity|business_approach\",\n      \"emotional_tone\": \"uncertain|excited|frustrated|clear|relieved|struggling\"\n    }\n  ]\n}"
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        2080
      ],
      "id": "a9b08fff-103e-470d-91fe-0ddd9b970b81",
      "name": "Extract Personal Reflections",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Extract STRATEGIC INSIGHTS that connect patterns across Zane's journey.\n\nStrategic insights are META-OBSERVATIONS that:\n- Identify Zane's unique strengths or positioning\n- Reveal patterns in how he works or decides\n- Connect multiple data points from the conversation\n- Suggest market positioning or competitive advantage\n- Highlight risks or opportunities specific to him\n\nDO NOT extract:\n- General business advice\n- Obvious observations\n- Things that apply to everyone\n- Zane's own reflections (those go in personal_reflections)\n\nONLY extract insights that are:\n- Specific to Zane's situation\n- Connect multiple elements\n- Provide strategic direction\n- Come from synthesizing the conversation\n\nThese should feel like insights from a BUSINESS ADVISOR who knows Zane well.\n\nHARD LIMIT: at most 3 insights per conversation, the most valuable ones only. Most conversations should produce 0-2 — an empty array is a good answer.\n\nRate each insight's importance 1-5: 5 = changes how Zane should operate right now, 3 = useful and worth surfacing, 1 = minor/nice-to-know. Low-importance insights aren't wasted, they just won't be the first thing shown back to him.\n\nReturn JSON:\n{\n  \"insights\": [\n    {\n      \"insight_category\": \"business_model|positioning|market_fit|personal_growth\",\n      \"insight\": \"One clear sentence observation\",\n      \"supporting_evidence\": [\"quote or fact from conversation that supports this\"],\n      \"confidence\": \"high|medium|speculative\",\n      \"importance\": 3,\n      \"actionable\": true,\n      \"suggested_action\": \"what Zane could do with this insight\"\n    }\n  ]\n}"
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        2272
      ],
      "id": "e80bda4d-7f36-4162-b577-c625bd0ed6f8",
      "name": "Extract Strategic Insights",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Extract ACTIONABLE TASKS from this conversation — and be strict. Every task you extract lands in Zane's inbox as a suggestion he has to triage, so quality over coverage. An empty array is a good answer.\n\nONLY extract a task when:\n- Zane explicitly said HE will do it, or\n- Zane clearly accepted a suggestion (\"yes, let's do that\", \"good call, I'll ...\"), or\n- It is a concrete follow-up Zane owes a specific person (client, partner, family).\n\nDO NOT extract:\n- Vague intentions, ideas, or maybes\n- General principles or advice given to Zane\n- Things the AI did or will do\n- Work already completed within the conversation\n- QA/checklist detail steps, unless Zane asked to track them individually\n- Anything Zane would be surprised to see on tomorrow's to-do list\n\nHARD LIMIT: at most 5 tasks per conversation. Most conversations should produce 0-2.\n\nFor each task, assign urgency and priority independently based on real signal in the conversation — do not default everything to the same value:\n\nurgency (when it needs to happen):\n- \"immediate\": blocking other work, or explicitly time-boxed to today/tomorrow\n- \"this_week\": has a natural deadline or expectation within ~7 days\n- \"soon\": worth doing but no real deadline, within the next few weeks\n- \"someday\": an idea or nice-to-have with no timeline\n\npriority (how much it matters):\n- \"high\": directly drives revenue, an active client commitment, or unblocks other people\n- \"medium\": meaningful progress on a current project but not urgent or client-facing\n- \"low\": minor, internal, or speculative\n\nIf a task has no clear urgency signal, default to \"soon\", not \"immediate\".\n\nIf the conversation mentions a specific date or relative time (e.g. \"by Friday\", \"next week\") for a task, convert it to an absolute YYYY-MM-DD due_date; otherwise leave due_date null.\n\nIf a task is clearly about a specific person, company, or project mentioned in the conversation, set entity_name to that name — otherwise leave it null.\n\nReturn JSON:\n{\n  \"tasks\": [\n    {\n      \"task\": \"Clear, actionable task description\",\n      \"context\": \"Why this task matters (from conversation)\",\n      \"urgency\": \"immediate|this_week|soon|someday\",\n      \"priority\": \"high|medium|low\",\n      \"category\": \"build|outreach|research|content|personal|follow_up\",\n      \"due_date\": \"YYYY-MM-DD or null\",\n      \"entity_name\": \"name or null\"\n    }\n  ]\n}\n\nIf no clear tasks were identified, return empty array."
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        2464
      ],
      "id": "bcac44fa-bf3e-4613-9335-937f2ac5cf3a",
      "name": "Extract Action Items",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Summarize this conversation in a way that makes it FINDABLE and USEFUL later.\n\nReturn JSON:\n{\n  \"main_theme\": \"One clear sentence: what was THIS SPECIFIC conversation about?\",\n  \"sub_themes\": [\"specific topic 1\", \"specific topic 2\", \"specific topic 3\"],\n  \"conversation_type\": \"strategic|tactical|emotional_processing|brainstorm|problem_solving\",\n  \"business_relevance\": \"critical|high|medium|low|personal\",\n  \"contains_decisions\": true,\n  \"contains_customer_insights\": false,\n  \"contains_personal_breakthrough\": true,\n  \"contains_action_items\": true,\n  \"key_takeaways\": [\"specific insight 1\", \"specific insight 2\", \"specific insight 3\"]\n}"
            },
            {
              "content": "={{ $json.transcript }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        2656
      ],
      "id": "533c0c80-b67f-4f8d-8c56-480687ae9f0f",
      "name": "Conversation Theme Summary",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "memories",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Theme for Embedding').item.json.memory_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embeddings",
              "fieldValue": "={{ $json.data[0].embedding }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $('Prepare Theme for Embedding').item.json.text_for_embedding }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1664,
        2080
      ],
      "id": "fc5cda67-7835-4a9f-8da1-db2fb0b79bfa",
      "name": "Insert Embeddings",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.text_for_embedding }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        2080
      ],
      "id": "a8d14c3d-0e25-4282-b72c-3e5775897ead",
      "name": "Generate Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "tHpgI3q3z2juUPO5",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get memory_id - try all possible entry-point nodes\nlet memoryId, title;\n\ntry {\n  memoryId = $('Create a row').first().json.id;\n} catch (e) {\n  try {\n    memoryId = $('Store Base Memory').first().json.id;\n  } catch (e2) {\n    try {\n      memoryId = $('Update Memory To Extracting').first().json.id;\n    } catch (e3) {\n      throw new Error('Could not find memory ID node');\n    }\n  }\n}\n\ntry {\n  title = $('Webhook').first().json.body.title;\n} catch (e) {\n  try {\n    title = $('Webhook Pending').first().json.body.title || 'Untitled';\n  } catch (e2) {\n    title = 'Untitled';\n  }\n}\n\n// Process merged LLM outputs\nlet entities = [], decisions = [], insights = [], reflections = [];\nlet strategic = [], tasks = [], theme = {};\n\nfor (const item of $input.all()) {\n  try {\n    let textData = null;\n    \n    // Your structure: { output: [{ content: [{ text: {...} }] }] }\n    if (item.json.output?.[0]?.content?.[0]?.text) {\n      textData = item.json.output[0].content[0].text;\n    }\n    \n    if (!textData) continue;\n    \n    // Route based on what keys exist\n    if (textData.entities) entities = textData.entities;\n    if (textData.decisions) decisions = textData.decisions;\n    if (textData.reflections) reflections = textData.reflections;\n    if (textData.tasks) tasks = textData.tasks;\n    if (textData.main_theme) theme = textData;\n    if (textData.insights?.length > 0) {\n      // Distinguish customer insights from strategic insights\n      if (textData.insights[0].customer_name !== undefined) {\n        insights = textData.insights;\n      } else {\n        strategic = textData.insights;\n      }\n    }\n  } catch (e) {\n    console.log('Parse error:', e.message);\n  }\n}\n\nreturn [{\n  json: { memory_id: memoryId, title, entities, decisions, insights, reflections, strategic, tasks, theme }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        2080
      ],
      "id": "9e7fef92-5d29-4b56-badd-cca9f2209a5d",
      "name": "Merge All Extractions"
    },
    {
      "parameters": {
        "jsCode": "// Look back specifically to the node that actually has the entities array\nconst extractionNode = $('Merge All Extractions').first().json;\nconst memoryId = extractionNode.memory_id;\nconst entities = extractionNode.entities || [];\n\nif (entities.length === 0) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn entities.map(e => ({\n  json: {\n    memory_id: memoryId,\n    entity_type: e.entity_type,\n    entity_name: e.entity_name,\n    context: e.context\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1520
      ],
      "id": "7c0cc730-cb2c-4698-8495-a80ccc27b5a8",
      "name": "Split Entities"
    },
    {
      "parameters": {
        "jsCode": "const memoryId = $('Merge All Extractions').item.json.memory_id;\nconst decisions = $('Merge All Extractions').item.json.decisions || [];\n\nif (decisions.length === 0) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn decisions.map(d => {\n  const days = d.suggested_review_days || 14;\n  const reviewAfter = new Date(Date.now() + days * 24 * 60 * 60 * 1000).toISOString().slice(0, 10);\n  return {\n    json: {\n      memory_id: memoryId,\n      decision: d.decision,\n      category: d.category,\n      reasoning: d.reasoning,\n      alternatives_considered: JSON.stringify(d.alternatives_considered || []),\n      confidence_level: d.confidence_level,\n      emotional_context: d.emotional_context,\n      review_after: reviewAfter\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1712
      ],
      "id": "a1b25bc0-e372-49be-b057-d8b8043d8b23",
      "name": "Split Decisions"
    },
    {
      "parameters": {
        "tableId": "decisions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory_id",
              "fieldValue": "={{ $json.memory_id }}"
            },
            {
              "fieldId": "decision",
              "fieldValue": "={{ $json.decision }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "reasoning",
              "fieldValue": "={{ $json.reasoning }}"
            },
            {
              "fieldId": "alternatives_considered",
              "fieldValue": "={{ $json.\nalternatives_considered }}"
            },
            {
              "fieldId": "confidence_level",
              "fieldValue": "={{ $json.confidence_level }}"
            },
            {
              "fieldId": "emotional_context",
              "fieldValue": "={{ $json.emotional_context}}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "review_after",
              "fieldValue": "={{ $json.review_after }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        1712
      ],
      "id": "fee21c2c-e9f4-4631-941c-ccddbdcda0e1",
      "name": "Insert Decisions",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const memoryId = $('Merge All Extractions').item.json.memory_id;\nconst insights = $('Merge All Extractions').item.json.insights || [];\n\nif (insights.length === 0) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn insights.map(i => ({\n  json: {\n    memory_id: memoryId,\n    customer_name: i.customer_name,\n    customer_type: i.customer_type,\n    pain_point: i.pain_point,\n    desire: i.desire,\n    objection: i.objection,\n    automation_opportunity: i.automation_opportunity,\n    quote: i.quote\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        1904
      ],
      "id": "c460c3d4-3d0e-4fe8-9f37-7cac0fd1e15b",
      "name": "Split Customer Insights"
    },
    {
      "parameters": {
        "tableId": "customer_insights",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory_id",
              "fieldValue": "={{ $json.memory_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.customer_name }}"
            },
            {
              "fieldId": "customer_type",
              "fieldValue": "={{ $json.customer_type }}"
            },
            {
              "fieldId": "pain_point",
              "fieldValue": "={{ $json.pain_point }}"
            },
            {
              "fieldId": "desire",
              "fieldValue": "={{ $json.desire }}"
            },
            {
              "fieldId": "objection",
              "fieldValue": "={{ $json.objection }}"
            },
            {
              "fieldId": "automation_opportunity",
              "fieldValue": "={{ $json.automation_opportunity }}"
            },
            {
              "fieldId": "quote",
              "fieldValue": "={{ $json.quote }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        1904
      ],
      "id": "31e8a3c4-8cb4-4702-982b-c913aebfdd40",
      "name": "Insert Customer Insights",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const memoryId = $('Merge All Extractions').item.json.memory_id;\nconst reflections = $('Merge All Extractions').item.json.reflections || [];\n\nif (reflections.length === 0) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn reflections.map(r => ({\n  json: {\n    memory_id: memoryId,\n    reflection_type: r.reflection_type,\n    reflection: r.reflection,\n    topic: r.topic,\n    emotional_tone: r.emotional_tone\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2096
      ],
      "id": "e753a79b-b7e5-4b3e-a3f6-608ebf27a3b6",
      "name": "Split Reflections"
    },
    {
      "parameters": {
        "tableId": "reflections",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory_id",
              "fieldValue": "={{ $json.memory_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "reflection_type",
              "fieldValue": "={{ $json.reflection_type }}"
            },
            {
              "fieldId": "reflection",
              "fieldValue": "={{ $json.reflection }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "emotional_tone",
              "fieldValue": "={{ $json.emotional_tone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        2096
      ],
      "id": "755c8cbc-2f81-4633-b880-eaa18718541a",
      "name": "Insert Reflections",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "memories",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Merge All Extractions').item.json.memory_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3008,
        2096
      ],
      "id": "60ded63a-9a6f-4077-93cd-b0e265422d3d",
      "name": "Update Memory Status",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const memoryId = $('Merge All Extractions').item.json.memory_id;\nconst strategic = $('Merge All Extractions').item.json.strategic || [];\n\nif (strategic.length === 0) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn strategic.map(s => ({\n  json: {\n    memory_id: memoryId,\n    insight_category: s.insight_category,\n    insight: s.insight,\n    supporting_evidence: JSON.stringify(s.supporting_evidence || []),\n    confidence: s.confidence,\n    importance: s.importance || null,\n    actionable: s.actionable,\n    suggested_action: s.suggested_action\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2288
      ],
      "id": "9d3eb2d6-fee4-406f-8731-36d0ba7970ac",
      "name": "Split Strategic"
    },
    {
      "parameters": {
        "tableId": "strategic_insights",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory_id",
              "fieldValue": "={{ $json.memory_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "insight_category",
              "fieldValue": "={{ $json.insight_category }}"
            },
            {
              "fieldId": "insight",
              "fieldValue": "={{ $json.insight }}"
            },
            {
              "fieldId": "supporting_evidence",
              "fieldValue": "={{ $json.supporting_evidence }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.confidence }}"
            },
            {
              "fieldId": "importance",
              "fieldValue": "={{ $json.importance }}"
            },
            {
              "fieldId": "actionable",
              "fieldValue": "={{ $json.actionable }}"
            },
            {
              "fieldId": "suggested_action",
              "fieldValue": "={{ $json.suggested_action }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        2288
      ],
      "id": "cfe67945-6096-4f03-a78f-31269d62f276",
      "name": "Insert Strategic",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const memoryId = $('Merge All Extractions').item.json.memory_id;\nconst tasks = $('Merge All Extractions').item.json.tasks || [];\n\nif (tasks.length === 0) {\n  return [{ json: { _skip: true, memory_id: memoryId } }];\n}\n\nreturn tasks.map(t => ({\n  json: {\n    memory_id: memoryId,\n    task: t.task,\n    context: t.context,\n    urgency: t.urgency,\n    priority: t.priority,\n    category: t.category,\n    due_date: t.due_date || null,\n    entity_name: t.entity_name || null\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        2480
      ],
      "id": "38d87767-f972-4624-a44f-2f73cd07dc7c",
      "name": "Split Tasks"
    },
    {
      "parameters": {
        "tableId": "tasks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory_id",
              "fieldValue": "={{ $json.memory_id }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "task",
              "fieldValue": "={{ $json.task }}"
            },
            {
              "fieldId": "context",
              "fieldValue": "={{ $json.context }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $json.urgency }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "completed",
              "fieldValue": "={{ $json.completed }}"
            },
            {
              "fieldId": "completed_at",
              "fieldValue": "={{ $json.completed_at }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "due_date",
              "fieldValue": "={{ $json.due_date }}"
            },
            {
              "fieldId": "entity_name",
              "fieldValue": "={{ $json.entity_name }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "suggested"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2672,
        2544
      ],
      "id": "d3009f6a-d72f-4313-abb3-c8c4ae33c68d",
      "name": "Insert Tasks",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "tableId": "themes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "memory_id",
              "fieldValue": "={{ $json.memory_id }}"
            },
            {
              "fieldId": "main_theme",
              "fieldValue": "={{ $json.main_theme }}"
            },
            {
              "fieldId": "sub_themes",
              "fieldValue": "={{ $json.sub_themes }}"
            },
            {
              "fieldId": "conversation_type",
              "fieldValue": "={{ $json.conversation_type }}"
            },
            {
              "fieldId": "business_relevance",
              "fieldValue": "={{ $json.business_relevance }}"
            },
            {
              "fieldId": "contains_decisions",
              "fieldValue": "={{ $json.contains_decisions }}"
            },
            {
              "fieldId": "contains_personal_breakthrough",
              "fieldValue": "={{ $json.contains_personal_breakthrough }}"
            },
            {
              "fieldId": "contains_customer_insights",
              "fieldValue": "={{ $json.contains_customer_insights }}"
            },
            {
              "fieldId": "contains_action_items",
              "fieldValue": "={{ $json.contains_action_items }}"
            },
            {
              "fieldId": "key_takeaways",
              "fieldValue": "={{ $json.key_takeaways }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        2912
      ],
      "id": "bb619ddc-84e9-427d-ae23-4c00b680040d",
      "name": "Insert Theme",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erwxszdcisyuyjmefvbj.supabase.co/rest/v1/rpc/agent_ingest_entity",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_memory_id: $json.memory_id, p_entity_type: $json.entity_type, p_entity_name: $json.entity_name, p_context: $json.context }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2576,
        1520
      ],
      "id": "50cf8ebf-d6a1-41a1-8650-6389d9fd27c5",
      "name": "Insert Entities",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71a2c2b4-05f9-4b13-811d-dd79c5c75229",
              "leftValue": "={{ $json._skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        1520
      ],
      "id": "3d3cd74c-6393-464c-9b88-f65ef3a6c584",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e006cc49-d91a-4b0b-866f-2f188b5de3de",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        1712
      ],
      "id": "8072c254-d944-4be6-b506-781a4467c7f7",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e006cc49-d91a-4b0b-866f-2f188b5de3de",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        1904
      ],
      "id": "9b148973-48ff-4d82-bbc2-b000abdec2db",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e006cc49-d91a-4b0b-866f-2f188b5de3de",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        2096
      ],
      "id": "bec95d91-ab3c-475c-98c5-d99f73661b3e",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e006cc49-d91a-4b0b-866f-2f188b5de3de",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        2288
      ],
      "id": "2d373171-3cf1-4346-a746-c20d0458e58f",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e006cc49-d91a-4b0b-866f-2f188b5de3de",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2080,
        2544
      ],
      "id": "7678b802-6b42-447b-9d91-6d611a98f338",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e006cc49-d91a-4b0b-866f-2f188b5de3de",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        2912
      ],
      "id": "fa8018b2-d7ea-4c71-bfc2-0a24c401aef8",
      "name": "If6"
    },
    {
      "parameters": {
        "jsCode": "// Build a rich, searchable summary from the theme extraction\nconst data = $json;\nconst theme = data.theme || {};\n\nconst searchableParts = [\n  // Main theme\n  theme.main_theme,\n  \n  // Sub themes as a sentence\n  theme.sub_themes?.length ? `Topics: ${theme.sub_themes.join(', ')}` : null,\n  \n  // Key takeaways\n  theme.key_takeaways?.length ? `Key takeaways: ${theme.key_takeaways.join('. ')}` : null,\n  \n  // Conversation metadata\n  theme.conversation_type ? `Type: ${theme.conversation_type}` : null,\n  theme.business_relevance ? `Relevance: ${theme.business_relevance}` : null\n];\n\nconst textToEmbed = searchableParts.filter(Boolean).join('\\n\\n');\n\nreturn [{\n  json: {\n    ...data,\n    text_for_embedding: textToEmbed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        2080
      ],
      "id": "5873c2a4-778b-4dfb-a340-90fb27ef14f5",
      "name": "Prepare Theme for Embedding"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-pending",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        2880
      ],
      "id": "d52da85c-ed79-40be-964e-eaa0a72718e1",
      "name": "Webhook Pending",
      "webhookId": "f1a2b3c4-d5e6-4789-9abc-def012345679"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "memories",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.memory_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "extracting"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.body.transcript }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        2880
      ],
      "id": "7d70c88e-a680-45f2-912b-e8cadfb32031",
      "name": "Update Memory To Extracting",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://erwxszdcisyuyjmefvbj.supabase.co/rest/v1/rpc/agent_find_similar_open_task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ candidate_text: $json.task, match_threshold: 0.45 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        2656
      ],
      "id": "9477db43-4429-4871-9925-5b271947eb15",
      "name": "Check For Duplicate Task",
      "credentials": {
        "supabaseApi": {
          "id": "OkwSUYAki4PQB722",
          "name": "Command Centre"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2c3d4e5-2222-4333-9444-555566667777",
              "leftValue": "={{ $json[0]?.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2432,
        2656
      ],
      "id": "619e97b6-87e3-4e8d-963b-ab30125c6b14",
      "name": "If Duplicate Found"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Store Base Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Base Memory": {
      "main": [
        [
          {
            "node": "Conversation Theme Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Action Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Strategic Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Personal Reflections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Customer Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Business Decisions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Entities": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Theme Data": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge All Extractions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Business Decisions": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Customer Insights": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Personal Reflections": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract Strategic Insights": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extract Action Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Conversation Theme Summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Insert Embeddings": {
      "main": [
        [
          {
            "node": "Split Decisions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Customer Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Reflections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Strategic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Theme Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Insert Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Extractions": {
      "main": [
        [
          {
            "node": "Prepare Theme for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Entities": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Decisions": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Decisions": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Customer Insights": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Customer Insights": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Reflections": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Reflections": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Strategic": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Strategic": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tasks": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tasks": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Theme": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Entities": {
      "main": [
        [
          {
            "node": "Update Memory Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Insert Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Insert Decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Insert Customer Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [],
        [
          {
            "node": "Insert Reflections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Insert Strategic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [],
        [
          {
            "node": "Check For Duplicate Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [],
        [
          {
            "node": "Insert Theme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Theme for Embedding": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Pending": {
      "main": [
        [
          {
            "node": "Update Memory To Extracting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Memory To Extracting": {
      "main": [
        [
          {
            "node": "Conversation Theme Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Action Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Strategic Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Personal Reflections",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Customer Insights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Business Decisions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Duplicate Task": {
      "main": [
        [
          {
            "node": "If Duplicate Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Duplicate Found": {
      "main": [
        [],
        [
          {
            "node": "Insert Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-service-8act.onrender.com",
            "user-agent": "python-requests/2.32.5",
            "content-length": "6442",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "118.149.96.202",
            "cf-ipcountry": "NZ",
            "cf-ray": "9c01c8a62d1650ae-AKL",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "render-proxy-ttl": "4",
            "rndr-id": "adf25443-2bd8-41ca",
            "true-client-ip": "118.149.96.202",
            "x-forwarded-for": "118.149.96.202, 104.23.198.39",
            "x-forwarded-proto": "https",
            "x-request-start": "1768778016027131"
          },
          "params": {},
          "query": {},
          "body": {
            "title": "Exciting AI Chatbot Demo for Green Machine",
            "created_at": "2025-05-08T01:24:10.648373Z",
            "transcript": "USER: Hey can you tailor this email to be bit more exciting and brief?\n\nHey Green Machine team,\nHope you're having a great week!\nJust wanted to follow up on my last email and share something exciting—we've got your custom AI chatbot up and running in demo form!",
            "conversation_id": "34041eea-5d60-4144-98c3-8e425a99cf0e"
          },
          "webhookUrl": "https://n8n-service-8act.onrender.com/webhook/ingest-conversation",
          "executionMode": "production"
        }
      }
    ],
    "Webhook Pending": [
      {
        "json": {
          "headers": {
            "host": "n8n-latest-rllq.onrender.com",
            "user-agent": "n8n",
            "content-length": "3315",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, */*;q=0.1",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "74.220.52.3",
            "cf-ipcountry": "SG",
            "cf-ray": "a19a6b4a89c6fd31-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "render-proxy-ttl": "4",
            "rndr-id": "b9bafc6e-9b8e-4218",
            "true-client-ip": "74.220.52.3",
            "x-forwarded-for": "74.220.52.3, 162.158.108.107",
            "x-forwarded-proto": "https",
            "x-request-start": "1783800285868155"
          },
          "params": {},
          "query": {},
          "body": {
            "memory_id": 17,
            "transcript": "So today I started exploring setting up an actual MCP server, which is the Case Command Center...",
            "title": "Memory 17",
            "source": "shortcut_voice"
          },
          "webhookUrl": "https://n8n-latest-rllq.onrender.com/webhook/ingest-pending",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
