Workflows/Ai Agent tools/tool_get_decisions.json
{
  "name": "Tool - Get Decisions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-get-decisions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [340, 300],
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "webhookId": "tool-get-decisions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wwqdkiphfpdczgmnxxrt.supabase.co/rest/v1/rpc/agent_get_decisions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "params=single-object"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_topic: $json.body?.search_topic || null, recent_days: $json.body?.recent_days || 365 }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "id": "call-supabase",
      "name": "Call Supabase RPC",
      "credentials": {
        "supabaseApi": {
          "id": "WLH1xOtq0dhre1iC",
          "name": "Zane.moore575 Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst statusCode = response.statusCode || 200;\nconst body = response.body;\n\nif (statusCode >= 400) {\n  return [{\n    json: {\n      success: false,\n      error: `Supabase returned ${statusCode}`,\n      details: body,\n      tool: 'get_decisions'\n    }\n  }];\n}\n\nlet decisions = [];\ntry {\n  if (typeof body === 'string') {\n    decisions = JSON.parse(body);\n  } else if (Array.isArray(body)) {\n    decisions = body;\n  } else if (body && typeof body === 'object') {\n    decisions = body.data || body.decisions || [body];\n  }\n} catch (e) {\n  decisions = [];\n}\n\nconst formatted = decisions.map(d => ({\n  decision: d.decision,\n  reasoning: d.reasoning,\n  category: d.category,\n  created_at: d.created_at,\n  memory_id: d.memory_id\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: formatted.length,\n    decisions: formatted,\n    tool: 'get_decisions',\n    message: formatted.length > 0 \n      ? `Found ${formatted.length} decisions` \n      : 'No decisions found matching your criteria'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Supabase RPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Supabase RPC": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
