Workflows/Ai Agent tools/tool_get_recent_memories.json
{
  "name": "Tool - Get Recent Memories",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-get-recent-memories",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [340, 300],
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "webhookId": "tool-get-recent-memories"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wwqdkiphfpdczgmnxxrt.supabase.co/rest/v1/rpc/agent_get_recent_memories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "params=single-object"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ limit_count: $json.body?.limit_count || 10, filter_source: $json.body?.filter_source || null }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "id": "call-supabase",
      "name": "Call Supabase RPC",
      "credentials": {
        "supabaseApi": {
          "id": "WLH1xOtq0dhre1iC",
          "name": "Zane.moore575 Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst statusCode = response.statusCode || 200;\nconst body = response.body;\n\nif (statusCode >= 400) {\n  return [{\n    json: {\n      success: false,\n      error: `Supabase returned ${statusCode}`,\n      details: body,\n      tool: 'get_recent_memories'\n    }\n  }];\n}\n\nlet memories = [];\ntry {\n  if (typeof body === 'string') {\n    memories = JSON.parse(body);\n  } else if (Array.isArray(body)) {\n    memories = body;\n  } else if (body && typeof body === 'object') {\n    memories = body.data || body.memories || [body];\n  }\n} catch (e) {\n  memories = [];\n}\n\nconst formatted = memories.map(m => ({\n  id: m.id,\n  title: m.title,\n  summary: m.summary,\n  source: m.source,\n  created_at: m.created_at,\n  status: m.status\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: formatted.length,\n    memories: formatted,\n    tool: 'get_recent_memories',\n    message: formatted.length > 0 \n      ? `Found ${formatted.length} recent memories` \n      : 'No recent memories found'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Supabase RPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Supabase RPC": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
