Workflows/Ai Agent tools/tool_get_entity_details.json
{
  "name": "Tool - Get Entity Details",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tool-get-entity-details",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [340, 300],
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "webhookId": "tool-get-entity-details"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wwqdkiphfpdczgmnxxrt.supabase.co/rest/v1/rpc/agent_get_entity_details",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "params=single-object"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ search_name: $json.body?.search_name || null }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300],
      "id": "call-supabase",
      "name": "Call Supabase RPC",
      "credentials": {
        "supabaseApi": {
          "id": "WLH1xOtq0dhre1iC",
          "name": "Zane.moore575 Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst statusCode = response.statusCode || 200;\nconst body = response.body;\n\nif (statusCode >= 400) {\n  return [{\n    json: {\n      success: false,\n      error: `Supabase returned ${statusCode}`,\n      details: body,\n      tool: 'get_entity_details'\n    }\n  }];\n}\n\nlet entities = [];\ntry {\n  if (typeof body === 'string') {\n    entities = JSON.parse(body);\n  } else if (Array.isArray(body)) {\n    entities = body;\n  } else if (body && typeof body === 'object') {\n    entities = body.data || body.entities || [body];\n  }\n} catch (e) {\n  entities = [];\n}\n\nconst formatted = entities.map(e => ({\n  name: e.name,\n  type: e.type,\n  description: e.description,\n  relationship: e.relationship,\n  notes: e.notes,\n  first_mentioned: e.first_mentioned,\n  last_mentioned: e.last_mentioned,\n  mention_count: e.mention_count\n}));\n\nreturn [{\n  json: {\n    success: true,\n    count: formatted.length,\n    entities: formatted,\n    tool: 'get_entity_details',\n    message: formatted.length > 0 \n      ? `Found ${formatted.length} matching entities` \n      : 'No entities found matching that name'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Supabase RPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Supabase RPC": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
